<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/footer/footer.css">
<link rel="icon" href="/img/hone/LOGO.png" />
<title>Title</title>
</head>

<body>

	<div class="row">
		<div class="col-sm-1" style="background-color: aqua;">a</div>
		<div class="col-sm-10">
	

			<div class="container">

				<div class="row">
					<div class="col-md-7">
						<div id="iframe" style="display: none;">
							[[${cuaHang.iframe}]]</div>
						<div id="map">
							
						
						</div>
					</div>
					<div class="col-md-3">
						<ul class="list-group">
							<li class="list-group-item">[[${cuaHang.TenCuaHang}]]</li>
							<li class="list-group-item">[[${cuaHang.SoDienThoai}]]</li>
							<li class="list-group-item">[[${cuaHang.DiaChiCuaHang}]]</li>

						</ul>
						<h3></h3>
						<h3></h3>
						<h3></h3>
					</div>



				</div>


			</div>
			<th:block th:insert="/shared/footer :: footer"></th:block>
		</div>
		<div class="col-sm-1" style="background-color: blue;"></div>
		
	</div>


	<script type="text/javascript">
		$(document).ready(
				function() {
					var iframe = $("#iframe").html().replace("&lt;", "<")
							.replace("&gt;", ">").replace("&lt;", "<").replace(
									"&gt;", ">");
					console.log(iframe)
					$("#map").append(iframe);
				});
	</script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>