<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="icon" href="/img/hone/LOGO.png" />
<link rel="stylesheet" href="/css/footer/footer.css">
<title>Title</title>
</head>

<body>

	<div class="row">
		<div class="col-sm-1" style="background-color: aqua;">a</div>
		<div class="col-sm-10">
			
			<div class="row">
			<th:block th:each="CuaHang : ${listCuaHang}">
				<div class="col-sm-6">
					
						<ul class="list-group">
							<li class="list-group-item">
							<a th:href="@{'/chi-tiet-cua-hang/'+${CuaHang.idCuaHang}}">[[${CuaHang.tenCuaHang}]]</a>
							<h6>[[${CuaHang.diaChiCuaHang}]]]</h6>
							</li>
							
						</ul>
				
				</div>
					</th:block>
				<div class="col-sm-5"></div>
			</div>
			<th:block th:insert="/shared/footer :: footer"></th:block>
		</div>
		<div class="col-sm-1" style="background-color: blue;"></div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>