<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="assets/css/style.css">
<link rel="stylesheet" href="/css/footer/footer.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="icon" href="/img/hone/LOGO.png" />
<style>
.pb-product-details-ul {
	list-style-type: none;
	padding-left: 0;
	color: black;
}

.pb-product-details-ul>li {
	padding-bottom: 5px;
	font-size: 15px;
}

#gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+0,ddf1f9+31,a0d8ef+62 */
	background: #feffff;
	/* Old browsers */
	background: -moz-linear-gradient(left, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(left, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #feffff 0%, #ddf1f9 31%, #a0d8ef 62%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feffff',
		endColorstr='#a0d8ef', GradientType=1);
	/* IE6-9 */
	border: 1px solid #f2f2f2;
	padding: 20px;
}

#hits {
	border-right: 1px solid white;
	border-left: 1px solid white;
	vertical-align: middle;
	padding-top: 15px;
	font-size: 17px;
	color: white;
}

#fan {
	vertical-align: middle;
	padding-top: 15px;
	font-size: 17px;
	color: white;
}

.pb-product-details-fa>span {
	padding-top: 20px;
}
</style>
<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}

input[type=checkbox] {
	transform: scale(1.5);
}

.imgModal {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.imgModal:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	/*   padding-top: 100px;  */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}




/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #ff0000;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}
</style>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link
	href="https://cdn.jsdelivr.net/gh/fontenele/bootstrap-navbar-dropdowns@5.0.2/dist/css/bootstrap-navbar-dropdowns.min.css"
	rel="stylesheet">

<link rel="stylesheet" href="/css/footer/footer.css">
<title>Title</title>
</head>

<body>
	<div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<!-- --navbar-- -->
				<th:block th:insert="/shared/navbar :: navbar"></th:block>
				<!-- -----------------------Body-------------------- -->
				<div class="row" id="gradient">
					<div class="col-md-5">
						<img th:src="@{'/getImg'+${urlImg}}" class="img-fluid">
						<div class="row">

							<th:block th:each="Anh,pos :${matHang.anhMatHangs}">
								<th:block th:if="${pos.index<3}">
									<div class="col-md-4">
										<img class="imgModal" th:src="@{'/getImg'+${Anh.url}}"
											width="120px" style="transform: scale(1)">
										<div id="myModal" class="modal" style="z-index: 100">
											<span class="close">&times;</span> <img class="modal-content"
												id="img01">
											<div id="caption"></div>
										</div>
									</div>
								</th:block>
							</th:block>
						</div>

					</div>
					<div class="col-md-7" id="overview">
						<div class="row">
							<div class="col-xs-9 col-md-9 ">
								<div class="row">
									<div class="col-md-12">
										<h4>
											<strong>[[${matHang.tenHang}]]</strong>
										</h4>
										<h4 style="color: red; font-size: 18px">
											<strong id="giaHang">[[${matHang.giaHang}]] </strong>[[${matHang.donViTinh}]]
										</h4>
									</div>
								</div>
							</div>
							<div class="col-xs-3 col-md-3 text-xs-center" id="fan">
								<a class="btn btn-success"
									th:href="@{'/add-to-cart/'+${matHang.maHang}}">Thêm vào giỏ
									hàng <i class="fas fa-cart-plus"></i>
								</a>

							</div>
						</div>
						<div class="row">
						<th:block th:each="ChiTiet,pos : ${listChiTietMatHang}">
						<th:block th:if="${pos.index <4} ">
						
							<div class="col-xs-3 col-md-3 pb-product-details-fa">
									<h3>
									<strong>[[${ChiTiet.tenChiTiet}]]</strong>
								</h3>
								<p>[[${ChiTiet.thongTinChiTiet}]]</p>
							</div>
						</th:block>
						</th:block>
						</div>
						<div class="row">
							<div class="col-xs-7 col-md-7 pb-product-details-fa">
								<th:block th:if="${matHang.quaTangs.size()>0}">
									<span class="fa fa-battery-4 fa-lg">Ảnh Quà tặng</span>
									<br />
									<th:block th:each="QuaTang : ${matHang.quaTangs}">
										<img th:src="@{'/getImg'+${QuaTang.urlImage}}"
											style="width: 80px" />
									</th:block>
								</th:block>
							</div>
							<div class="col-xs-5 col-md-5 pb-product-details-fa">
								<th:block th:if="${matHang.quaTangs.size()>0}">
									<span class="fa fa-battery-4 fa-lg">Quà tặng bao gồm</span>
									<br />
									<th:block th:each="QuaTang : ${matHang.quaTangs}">
										<p>[[${QuaTang.tenQuaTang}]]</p>
									</th:block>
								</th:block>
							</div>
						</div>
					</div>
				</div>

				<div>
					<p style="font-size: 28px;" class="text-center">Chi Tiết Sản
						Phẩm [[${matHang.tenHang}]]:</p>
					<table class="table" style="">
						<tbody>
							<th:block th:each="ChiTiet : ${listChiTietMatHang}">
								<tr>
									<td class="success" th:text="${ChiTiet.tenChiTiet}">Camera:
									</td>
									<td th:text="${ChiTiet.ThongTinChiTiet}">12 megapixels</td>
								</tr>
							</th:block>


						</tbody>
					</table>
				</div>
				<!-- ---------------------bai dang-------------- -->
				<th:block th:if="${matHang.baiDangs.size()>0}">
					<div>
						<p style="font-size: 28px;" class="text-center">[[${matHang.baiDangs[0].tieuDe}]]</p>
						<img th:src="@{'/getImg'+${matHang.baiDangs[0].urlImg}}"
							style="width: 100%;">
						<p>[[${matHang.baiDangs[0].noiDung}]]
					</div>
				</th:block>
				<div>
					<th:block th:if="${matHang.baiDangs.size()>0}">
						<div class="card">
							<div class="row">
								<div class="col-md-12">
									<h3 class="text-center mb-5">Đánh giá sản phẩm</h3>
									<div class="row">
										<div class="col-md-12">
											<form id="form-comment" enctype="multipart/form-data"
												class="">
												<label for="inlineFormEmail">Nhập bình luận</label> <input
													type="text" size="50" placeholder="Nhập bình luận....."
													name="extraField"> <label for="up_image"><i
													class="fas fa-camera"></i></label> <input type="file" id="up_image"
													style="display: none;" name="files" accept="image/*">
												<button type="submit" id="btnSubmit">Gửi</button>
											</form>
										</div>

										<div class="col-md-12" id="list-comment">

											<th:block
												th:each="BinhLuan : ${matHang.baiDangs[0].binhLuans}">
												<div class="media">


													<img class="mr-3 circle-img rounded-circle"
														th:src="@{'/getAvatar/'+${BinhLuan.userName}}"
														style="height: 50px; width: 50px;" />
													<div
														th:class="@{'media-body comment-body-'+${BinhLuan.idBinhLuan}}">
														<div class="row">
															<div class="col-8 d-flex">
																<h5>[[${BinhLuan.userName}]]</h5>

															</div>

														</div>
														[[${BinhLuan.noiDung}]]
														<th:block th:if="${BinhLuan.urlImage!=null}">
															<br />
															<img th:src="@{'/getImg'+${BinhLuan.urlImage}}"
																style="width: 50%" />
														</th:block>
														<br> <i
															th:class="@{'far fa-thumbs-up like-comment like-comment-'+${BinhLuan.idBinhLuan}}"
															th:id="@{'like-comment-'+${BinhLuan.idBinhLuan}}">([[${BinhLuan.luotThich}]])</i>
														&nbsp; <span th:data-idBinhLuan="${BinhLuan.idBinhLuan}"
															class="reply" style="color: blue;"><i
															class="fa fa-reply "></i> reply</span> &nbsp;<span
															class="time-comment"> [[${BinhLuan.thoiGian}]] </span>
														<!-- end of comment -->

														<!-- reply -->
														<th:block th:each="TraLoi : ${BinhLuan.traLois}">
															<div class="media mt-4">
																<a class="pr-3" href="#"><img class="rounded-circle"
																	th:src="@{'/getAvatar/'+${TraLoi.userName}}"
																	style="height: 50px;" /></a>
																<div class="media-body">
																	<div class="row">
																		<div class="col-12 d-flex">
																			<h5>[[${TraLoi.userName}]]</h5>

																		</div>
																	</div>
																	[[${TraLoi.noiDung}]]
																	<th:block th:if="${TraLoi.urlImage!=null}">
																		<br />
																		<img th:src="@{'/getImg'+${TraLoi.urlImage}}"
																			style="width: 50%" />
																	</th:block>
																</div>
															</div>
															<i
																th:class="@{'far fa-thumbs-up like-reply like-reply-'+${TraLoi.idCauTraLoi}}"
																th:id="@{'like-reply-'+${TraLoi.idCauTraLoi}}"
																style="margin-left: 60px">([[${TraLoi.luotThich}]])</i>  &nbsp; <span
																th:data-idBinhLuan="${BinhLuan.idBinhLuan}"
																class="reply" style="color: blue;"><i
																class="fa fa-reply"></i> reply</span> &nbsp;<span
																class="time-comment"> [[${TraLoi.thoiGian}]] </span>
															<br />
															</th:block>
															<!-- end of rely -->
															<!-- end of comment -->
													</div>
												</div>
												<div class="col-md-12">
													<form style="margin-left: 50px; display: none;"
														th:id="@{'form-reply-'+${BinhLuan.idBinhLuan}}"
														enctype="multipart/form-data"
														th:class="@{'form-reply form-reply-'+${BinhLuan.idBinhLuan}}">
														<label>Trả lời</label> <input type="text" size="50"
															placeholder="Nhập trả lời....." name="noiDung"> <label
															th:for="@{'up_image_tl'+${BinhLuan.idBinhLuan}}"><i
															class="fas fa-camera"></i></label> <input type="file"
															th:id="@{'up_image_tl'+${BinhLuan.idBinhLuan}}"
															style="display: none;" name="files" accept="image/*">
														<button type="submit">Gửi</button>
													</form>
												</div>

											</th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</th:block>
				</div>
			</div>
		</div>
		<!-- ----comment -->
		<div class="col-md-1"></div>
		<th:block th:insert="/shared/footer :: footer"></th:block>
	</div>

	<!-- you need to include the shieldui css and js assets in order for the charts to work -->
	<link rel="stylesheet" type="text/css"
		href="http://www.shieldui.com/shared/components/latest/css/light-glow/all.min.css" />
	<script type="text/javascript"
		src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>

	<script type="text/javascript">
		jQuery(function($) {
			$(".tabs_div").shieldTabs();
		});
	</script>


	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() { // Wait until document is fully parsed
			$("#form-comment").on('submit', function(e) {

				e.preventDefault();
				fire_ajax_submit()

			});
		});

		function fire_ajax_submit() {

			// Get form
			var form = $('#form-comment')[0];
			console.log(form)
			var data = new FormData(form);
			console.log(data)
			var binhLuanModel = /*[[${binhLuanModel}]]*/'0';
			var idBaiDang = binhLuanModel.idBaiDang;
			console.log(idBaiDang);
			var Url = "/add-comment/" + idBaiDang;
			$.ajax({
						type : "POST",
						enctype : 'multipart/form-data',
						url : Url,
						data : data,
						processData : false, //prevent jQuery from automatically transforming the data into a query string
						contentType : false,
						cache : false,
						timeout : 600000,
						success : function(data) {

							console.log("SUCCESS : ", data);
							var txtComment = "<div class='media'>"
									+ "<img class='circle-img rounded-circle' src='/getAvatar/"+data.userName+"' style='height: 50px;width:50px;'  />"
									+ "<div class='media-body comment-body' >"
									+ "<div class='row'>"
									+ "<div class='col-8 d-flex'>"
									+ "<h5>"
									+ data.userName
									+ "</h5>"
									+ "</div>"
									+ "<div class='col-4'>"
									+ "<div class='pull-right reply'></div>"
									+ "</div>"
									+ "</div>"
									+ ""
									+ data.noiDung
									+ " "
									+
									"<br/>"
									+ "<img src='/getImg"
									+ data.urlImage
									+ "' style='width: 50%'/>"
									+

									"<br> <i"+
								" class='far fa-thumbs-up like-comment like-comment-"+data.idBinhLuan+"'>(0)</i> &nbsp; <span data-idBinhLuan='"+data.idBinhLuan+"' class='reply' "+
								"style='color: blue;'><i class='fa fa-reply'></i>"
									+ "reply</span> <span> Vừa Xong</span>" +

									"</div>" +

									"</div>";
							$("#list-comment").prepend(txtComment);

						},
						error : function(e) {

							console.log("ERROR : ", e);

						}
					});

		}
		/*]]>*/
	</script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() { // Wait until document is fully parsed
			$(".form-reply").each(function() {
				$(this).on('submit', function(e) {

					e.preventDefault();
					var arr = $(this).attr("class").split('-');
					addTraLoi(arr[3])
				})
			});
		});

		function addTraLoi(idBinhLuan) {

			var classOfForm = '.form-reply-' + idBinhLuan;

			// Get form
			var formTraLoi = $(classOfForm)[0];
			console.log(formTraLoi);
			var dataTraLoi = new FormData(formTraLoi);
			console.log(dataTraLoi);
			var Url = "/add-tra-loi/" + idBinhLuan;
			console.log(Url);
			$
					.ajax({
						type : "POST",
						enctype : 'multipart/form-data',
						url : Url,
						data : dataTraLoi,
						processData : false, //prevent jQuery from automatically transforming the data into a query string
						contentType : false,
						cache : false,
						timeout : 600000,
						success : function(data) {
							var txtImg = "";
							if (data.urlImage != null) {
								txtImg += " <br/> " + "<img src='/getImg"
										+ data.urlImage
										+ "' style='width: 50%'/>";

							}
							var txtSrc = "/getAvatar/" + data.userName;
							var txtAdd = "	<div class='media mt-4'>"
									+ "<a class='pr-3' ><img class='rounded-circle' src='"+txtSrc+"' style='height: 50px;'   /></a> "
									+ "<div class='media-body'> "
									+ "<div class='row'> "
									+ "<div class='col-12 d-flex'> "
									+ "<h5>"
									+ data.userName
									+ "</h5> "
									+ "</div>"
									+ "</div>"
									+ data.noiDung
									+ txtImg
									+ "</div>"
									+ "</div>"
									+ "<i class='far fa-thumbs-up like-reply like-reply-"+data.idCauTraLoi+"' style='margin-left: 60px'></i> (0) &nbsp; <span id='reply' "+
				"style='color: blue;''><i class='fa fa-reply'></i>"
									+ "reply</span> &nbsp;<span class=''> Vừa xong </span><br/>";
							console.log("SUCCESS : ", data);
							$(".comment-body-" + idBinhLuan).append(txtAdd);

						},
						error : function(e) {

							console.log("ERROR : ", e);

						}
					});

		}
		/*]]>*/
	</script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<script>
		$(document).ready(
				function() {
					$('.reply').each(
							function() {
								$(this).click(
										function(ev, i) {
											console.log("toggle")
											var txtClass = ".form-reply-"
													+ $(this).attr(
															"data-idBinhLuan");
											var txtId = "form-reply-"
													+ $(this).attr(
															"data-idBinhLuan");
											console.log(txtClass)
											$(txtClass).toggle(function() {

											});
											var elmnt = document
													.getElementById(txtId);

											elmnt.scrollIntoView({
												behavior : 'smooth',
												block : 'center'
											});

											console.log();

										});
							})

				});
	</script>
	<script>
		$(document).ready(function() {
			$('.like-comment').each(function() {
				$(this).click(function() {
					     	 var str = $(this).attr("id");
							arr = str.split('-');
							var id = arr[2];
							likeComment(id);
							
					
				});
			})
			$('.like-reply').each(function() {
				$(this).click(function() {
					     	 var str = $(this).attr("id");
							arr = str.split('-');
							var id = arr[2];
							likeReply(id)
					 
					
				});
			})
			$('#dislike-comment-84').click(function() {
		     	console.log("click")
		
			})	

		});
		
	
		
		function likeComment(idBinhLuan) {

			var dataId = idBinhLuan;
			var Url = "/like-comment/" + idBinhLuan;
			console.log(Url);
			$
					.ajax({
						type : "POST",
						enctype : 'multipart/form-data',
						url : Url,
						data : dataId,
						processData : false, //prevent jQuery from automatically transforming the data into a query string
						contentType : false,
						cache : false,
						timeout : 600000,
						success : function(data) {

							console.log("SUCCESS : ", data);
							$('#like-comment-' + data.idBinhLuan)
									.replaceWith(
											"<i class='fas fa-thumbs-up dislike-comment dislike-comment-"+data.idBinhLuan+"' id='dislike-comment-"+data.idBinhLuan+"'>("+data.luotThich+")</i>");

						},
						error : function(e) {
							console.log("ERROR : ", e);

						}
					});

		}
		function likeReply(idBinhLuan) {

			var dataId = idBinhLuan;
			var Url = "/like-reply/" + idBinhLuan;
			console.log(Url);
			$
					.ajax({
						type : "POST",
						enctype : 'multipart/form-data',
						url : Url,
						data : dataId,
						processData : false, //prevent jQuery from automatically transforming the data into a query string
						contentType : false,
						cache : false,
						timeout : 600000,
						success : function(data) {

							console.log("SUCCESS : ", data);
							$('#like-reply-' + data.idCauTraLoi)
							.replaceWith(
									"<i style='margin-left: 60px' class='fas fa-thumbs-up dislike-reply dislike-comment-"+data.idCauTraLoi+"' id='dislike-comment-"+data.idCauTraLoi+"'>("+data.luotThich+")</i>");
						},
						error : function(e) {
							console.log("ERROR : ", e);

						}
					});

		}
	</script>
	<script type="text/javascript">
	
	
		

	</script>
	<script>
		$('.time-comment').each(function() {
			var timeShow = timeSince(new Date($(this).html())) + " trước";
			$(this).html(timeShow);
		});

		function timeSince(date) {

			var seconds = Math.floor((new Date() - date) / 1000);

			var interval = seconds / 31536000;

			if (interval > 1) {
				return Math.floor(interval) + " năm";
			}
			interval = seconds / 2592000;
			if (interval > 1) {
				return Math.floor(interval) + " tháng";
			}
			interval = seconds / 86400;
			if (interval > 1) {
				return Math.floor(interval) + " ngày";
			}
			interval = seconds / 3600;
			if (interval > 1) {
				return Math.floor(interval) + " tiếng";
			}
			interval = seconds / 60;
			if (interval > 1) {
				return Math.floor(interval) + " phút";
			}
			return Math.floor(seconds) + " giây";
		}
		var aDay = 24 * 60 * 60 * 1000;
	</script>
	<script type="text/javascript">
		/* Number(listMatHang[j].giaHang).toLocaleString('en') */
		$('#giaHang').html(Number($('#giaHang').html()).toLocaleString('en'));
	</script>
	<script>
		// Get the modal
		var modal = document.getElementById("myModal");

		// Get the image and insert it inside the modal - use its "alt" text as a caption
		var img = document.getElementsByClassName("imgModal");

		var modalImg = document.getElementById("img01");
		var captionText = document.getElementById("caption");
		for (i = 0; i < img.length; i++) {
			img[i].onclick = function() {
				modal.style.display = "block";
				modalImg.src = this.src;
				captionText.innerHTML = this.alt;
			}
		}

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
			modal.style.display = "none";
		}
	</script>

</body>

</html>