<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
		<link
		href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		crossorigin="anonymous">
		<link rel="stylesheet" href="/css/footer/footer.css">
<title>Title</title>
</head>
<body>


	

	<div class="container mb-4">
	<th:block th:insert="/shared/navbar :: navbar"></th:block>
	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">GIỎ HÀNG</h1>
		</div>
	</section>
	
		<div class="row">
			<div class="col-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th >Mã hàng</th>
								<th >Tên hàng</th>
								<th >Hình ảnh</th>

								<th >Số lượng</th>
								<th  class="text-center">Giá</th>
								<th class="text-center">Thành tiền</th>
								<th  class="text-center">Xóa</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="gioHangItem : ${listGioHangItem}">


								<tr th:id="@{'cart-item-'+${gioHangItem.maHang}}">

									<td th:text="${gioHangItem.maHang}"></td>
									<td th:text="${gioHangItem.tenHang}"></td>
									<td><img th:src="@{'/getImg'+${gioHangItem.imgUrl}}"
										style="height: 70px" /></td>
									<td><input type="number" class="soLuong" th:id="${gioHangItem.maHang}" th:value="${gioHangItem.soLuong}"
										style="width: 50px" min="1"></td>
									<td th:text="${gioHangItem.gia}"></td>
									<td th:text="${gioHangItem.thanhTien}" th:id="@{'thanhtien-'+${gioHangItem.maHang}}"></td>
									<td class="text-center"><button class="deleteCart" th:id="${gioHangItem.maHang}" >Xóa</button></td>
								</tr>
							</th:block>
							<tr>
							
								<td colspan="5"></td>
								<td><strong>Tổng tiền</strong></td>
								<td id="tong-tien" class="text-right">[[${tongTien}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col mb-2">
				<div class="row">
					<div class="col-sm-12  col-md-6">
						<a class="btn btn-block btn-light" href="/">Tiếp tục mua sắm</a>
					</div>
					<div class="col-sm-12 col-md-6 text-right">
						<a class="btn btn-lg btn-block btn-success text-uppercase" href="/dat-hang">Dặt
							hàng</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<th:block th:insert="/shared/footer :: footer"></th:block>
	<script type="text/javascript">
	 $('.soLuong').each(function(index,element){
		$(element).change(function(){
			    var id = $(this).attr('id');
			    var value = $(this).val();
			    if(value <= 0)
			    	{
			    	alert('Số lượng không hợp lệ');
			    	}else{
			    		var urlTarget = "/change-quantity-cart/"+id;
			            
				           var myJson = JSON.stringify(value);
				            $.ajax({
				            	type: 'POST',
				            	contentType: "application/json",
				                url: urlTarget,
				                data: myJson,
				                dataType: 'json',
				                cache: false,
				        		timeout: 600000,
				        		success: function(data){
				        			console.log(data);
				        			$('#tong-tien').html(data.tongTien);
				        			$('#thanhtien-'+data.id).html(data.thanhTien);
				        		},
				        		error: function(e) {
					    			console.log("loi" +e);
					    		}
				            })
			    	}
			
				});
			    
		  });

		$('.deleteCart').each(function(index, element) {
			$(element).click(function() {
				console.log($(this).attr('id'));
				var id = $(this).attr('id');
				
				var urlTarget = "/delete-cart";
				var myJson = JSON.stringify(id);
				$.ajax({
					type : 'POST',
					contentType : "application/json",
					url : urlTarget,
					data : myJson,
					dataType : 'json',
					cache : false,
					timeout : 600000,
					success : function(data) {
						console.log(data);
						$('#cart-item-'+data.id).remove();
						$('#tong-tien').html(data.tongTien);
					},
					error : function(e) {
						console.log("loi" + e);
					}
				})
			})
		})
	</script>
 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>