<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="icon" href="/img/hone/LOGO.png" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link
	href="https://cdn.jsdelivr.net/gh/fontenele/bootstrap-navbar-dropdowns@5.0.2/dist/css/bootstrap-navbar-dropdowns.min.css"
	rel="stylesheet">
<style>
.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropright:hover>.dropdown-menu {
	display: block;
}

.dropdown>.dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
</style>
<link rel="stylesheet" href="/css/footer/footer.css">
<title>Title</title>
</head>

<body>

	<div class="row">
		<div class="col-sm-1" style="background-color: aqua;">a</div>
		<div class="col-sm-10">
		
		<!-- ------------------------------- -->
		
			<nav class="row navbar navbar-expand-lg navbar-light bg-light">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto ">
						<li class="nav-item active col-sm-3"><a class="nav-link"
							href="/"> <img src="/img/home/LOGO HEADER.png" width="250px">
								<span class="sr-only">(current)</span></a></li>
						<form class="form-inline my-2 my-lg-0 col-sm-6" style="margin-left: 30px">
							<input class="form-control mr-sm-2" size="40" type="search"
								placeholder="Nhập tên sản phẩm..." aria-label="Search"
								style="border-color: yellow;">
							<button style="background-color: yellow;"
								class="btn btn-outline-success my-2 my-sm-0" type="submit">
								<i style="color: black;" class="fas fa-search"></i>
							</button>
						</form>
						<div class="hotline_info col-sm-3">
							<div class="module-border-wrap">
								<a class="iconsprites_total_branch branch_market"
									href="/he-thong-sieu-thi"
									title="Hệ thống chi nhánh siêu thị toàn quốc" rel="nofollow">
									XEM HỆ THỐNG <strong th:text="${soCuaHang}" class="num_store">83</strong>
									CHI NHÁNH
								</a>
							</div>
							<p class="hotline">
								HOTLINE: <span class="phone">028-38563388</span>
							</p>
						
						</div>
						
					</ul>
				</div>
			</nav>
			
			<!-- -------------------------------- -->
			<div class="row navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation" style="font-size: 13px;background-color: #ffe263 !important">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item " >
                        <a class="nav-link" href="#" style="color: blue ;">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                  
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" style="color: blue ;">Chọn loại hàng</a>
                         <ul class="dropdown-menu" aria-labelledby="dropdown1">
                         
                                
                                <!-- ---- block---- -->
                            <th:block th:each="LoaiHang : ${listLoaiHang}">
                            <li class="dropdown-item dropdown">
                                <a class="dropdown-toggle" th:id="${LoaiHang.IdLoaiHang}" data-toggle="dropdown" aria-haspopup="true"
                                 th:text="${LoaiHang.TenLoaiHang}">Dropdown1.1</a>
                                <ul class="dropdown-menu" th:aria-labelledby="${LoaiHang.IdLoaiHang}" >
                                
                                <th:block th:each="NhomHang : ${LoaiHang.NhomHangs}">
                                    <li class="dropdown-item"><a th:text="${NhomHang.tenNhomHang}" th:href="@{'/find-nhom-hang/'+${NhomHang.IdNhomHang}}">Action 1.1</a></li>
                                   	</th:block>
                                </ul>
                            </li>
                            </th:block>
                            <!-- ---------------end block -->
                            
                        </ul>
                    </li>
                    
                </ul>
                
                <ul style="margin-top: 10px">
                    <li class="">
                    <a href="/login">Đăng Nhập</a> &nbsp; <a href="/register">Đăng ký</a>
                    </li>
                </ul>
      
            </div>
        </div>
        
        
  
		</div>
		
		<div class="col-sm-1" style="background-color: blue;">c</div>
	</div>
	      <!-- -----footer------------- -->
        	<th:block th:insert="/shared/footer :: footer"></th:block>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
		 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/gh/fontenele/bootstrap-navbar-dropdowns@5.0.2/dist/js/bootstrap-navbar-dropdowns.min.js"></script>
        <script>
            $('.navbar').navbarDropdown({trigger: 'mouseover'});
        </script>
</body>

</html>