<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
		<link
		href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		rel="stylesheet" id="bootstrap-css">
	<script
		src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script
		src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->

	<link
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		crossorigin="anonymous">
		<link rel="stylesheet" href="/css/footer/footer.css">
<title>Title</title>
</head>
<body>


	
	
	<th:block th:insert="/shared/navbar :: navbar"></th:block>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="text-center">-------------oOo----DANH SÁCH ĐƠN HÀNG----oOo-------------</h2>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#da-dat-hang">Đã đặt hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#cho-lay-hang">Chờ lấy hàng</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#dang-giao">Đang giao</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#da-giao">Đã giao</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="da-dat-hang" class="container tab-pane active"><br>
    <table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Số hóa đơn</th>
											<th>Mặt hàng</th>
											<th>Ngày đặt hàng</th>
											<th>Ngày giao hàng</th>
											<th>Nơi giao hàng</th>
											<th>Tên nhân viên</th>
										
											
										</tr>
									</thead>

									<tbody>
										<th:block th:each="DonDatHang : ${listDonDatHang}">
											<th:block th:if="${DonDatHang.trangThai==1}">
												
												
												
											<tr>
												<td th:text="${DonDatHang.soHoaDon}"></td>
												<td>
													<ul class="list-group">



														<th:block
															th:each="chiTietDatHang : ${DonDatHang.chiTietDatHangs}">
															<li class="list-group-item">[[${chiTietDatHang.matHang.tenHang}]]</li>
														</th:block>
													</ul>
												</td>
												<td th:text="${DonDatHang.ngayDatHang}"></td>
												<td th:text="${DonDatHang.ngayGiaoHang}"></td>
												<td th:text="${DonDatHang.noiGiaoHang}"></td>
												<th:block th:if="${DonDatHang.nhanVien!=null}">
												<td th:text="${DonDatHang.nhanVien.tenNhanVien}"></td>
												</th:block>
												<th:block th:unless="${DonDatHang.nhanVien!=null}">
												<td >Chưa có</td>
												</th:block>
											
											
												
											</tr>
											</th:block>
										</th:block>

									</tbody>
								</table>
    </div>
    <div id="cho-lay-hang" class="container tab-pane fade"><br>
       <table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Số hóa đơn</th>
											<th>Mặt hàng</th>
											<th>Ngày đặt hàng</th>
											<th>Ngày giao hàng</th>
											<th>Nơi giao hàng</th>
											<th>Tên nhân viên</th>
										
											
										</tr>
									</thead>

									<tbody>
										<th:block th:each="DonDatHang : ${listDonDatHang}">
											<th:block th:if="${DonDatHang.trangThai==2}">
												
												
												
											<tr>
												<td th:text="${DonDatHang.soHoaDon}"></td>
												<td>
													<ul class="list-group">



														<th:block
															th:each="chiTietDatHang : ${DonDatHang.chiTietDatHangs}">
															<li class="list-group-item">[[${chiTietDatHang.matHang.tenHang}]]</li>
														</th:block>
													</ul>
												</td>
												<td th:text="${DonDatHang.ngayDatHang}"></td>
												<td th:text="${DonDatHang.ngayGiaoHang}"></td>
												<td th:text="${DonDatHang.noiGiaoHang}"></td>
												<th:block th:if="${DonDatHang.nhanVien!=null}">
												<td th:text="${DonDatHang.nhanVien.tenNhanVien}"></td>
												</th:block>
												<th:block th:unless="${DonDatHang.nhanVien!=null}">
												<td >Chưa có</td>
												</th:block>
											
											
												
											</tr>
											</th:block>
										</th:block>

									</tbody>
								</table>
    </div>
    <div id="dang-giao" class="container tab-pane fade"><br>
     <table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Số hóa đơn</th>
											<th>Mặt hàng</th>
											<th>Ngày đặt hàng</th>
											<th>Ngày giao hàng</th>
											<th>Nơi giao hàng</th>
											<th>Tên nhân viên</th>
										
											
										</tr>
									</thead>

									<tbody>
										<th:block th:each="DonDatHang : ${listDonDatHang}">
											<th:block th:if="${DonDatHang.trangThai==3}">
												
												
												
											<tr>
												<td th:text="${DonDatHang.soHoaDon}"></td>
												<td>
													<ul class="list-group">



														<th:block
															th:each="chiTietDatHang : ${DonDatHang.chiTietDatHangs}">
															<li class="list-group-item">[[${chiTietDatHang.matHang.tenHang}]]</li>
														</th:block>
													</ul>
												</td>
												<td th:text="${DonDatHang.ngayDatHang}"></td>
												<td th:text="${DonDatHang.ngayGiaoHang}"></td>
												<td th:text="${DonDatHang.noiGiaoHang}"></td>
												<th:block th:if="${DonDatHang.nhanVien!=null}">
												<td th:text="${DonDatHang.nhanVien.tenNhanVien}"></td>
												</th:block>
												<th:block th:unless="${DonDatHang.nhanVien!=null}">
												<td >Chưa có</td>
												</th:block>
											
											
												
											</tr>
											</th:block>
										</th:block>

									</tbody>
								</table>
    </div>
    <div id="da-giao" class="container tab-pane fade"><br>
   <table class="table table-bordered" id="dataTable" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th>Số hóa đơn</th>
											<th>Mặt hàng</th>
											<th>Ngày đặt hàng</th>
											<th>Ngày giao hàng</th>
											<th>Nơi giao hàng</th>
											<th>Tên nhân viên</th>
											<th>Đã nhận được hàng</th>
											
										</tr>
									</thead>

									<tbody>
										<th:block th:each="DonDatHang : ${listDonDatHang}">
											<th:block th:if="${DonDatHang.trangThai==4}">
												
												
												
											<tr>
												<td th:text="${DonDatHang.soHoaDon}"></td>
												<td>
													<ul class="list-group">



														<th:block
															th:each="chiTietDatHang : ${DonDatHang.chiTietDatHangs}">
															<li class="list-group-item">[[${chiTietDatHang.matHang.tenHang}]]</li>
														</th:block>
													</ul>
												</td>
												<td th:text="${DonDatHang.ngayDatHang}"></td>
												<td th:text="${DonDatHang.ngayGiaoHang}"></td>
												<td th:text="${DonDatHang.noiGiaoHang}"></td>
												<th:block th:if="${DonDatHang.nhanVien!=null}">
												<td th:text="${DonDatHang.nhanVien.tenNhanVien}"></td>
												</th:block>
												<th:block th:unless="${DonDatHang.nhanVien!=null}">
												<td >Chưa có</td>
												</th:block>
												
												<td><a th:href="@{'/don-hang/da-nhan-hang/'+${DonDatHang.soHoaDon}}">Đã nhận</a></td>
												
											</tr>
											</th:block>
										</th:block>

									</tbody>
								</table>
    </div>
			</div>
	
		</div>
	</div>
	</div>
	
	<!-- Footer -->
	<th:block th:insert="/shared/footer :: footer"></th:block>

 <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>