<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin 2 - Tables</title>

<!-- Custom fonts for this template -->
<link href="/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Custom styles for this page -->
<link href="/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<style type="text/css">
.form-control {
	display: inline-block;
	padding-top: 10px;
}
</style>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<nav th:insert="/admin/shared/sidebar :: sidebar"></nav>

		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				 	<nav th:insert="/admin/shared/topbar :: topbar"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">


					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Sửa mặt hàng</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<form th:action="@{'/edit-mat-hang/'+${id}}" method="post"
									enctype="multipart/form-data"  th:object="${matHang}">
									<div class="form-group col-md-7">
										<label>Tên mặt hàng</label> <input class="form-control"
											placeholder="Tên mặt hàng..." th:field="*{tenHang}">
									</div>

									<div class="form-group col-md-8">
										<label for="inputAddress2">Giá hàng</label> 
							 <input class="form-control" required="required" type="text" th:field="*{giaHang}" id="currency-field" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" placeholder="$" data-type="currency" >
									</div>

									<div class="form-group col-md-8">
										<label for="inputAddress2">Đơn vị tính</label> <input
											type="text" class="form-control" id=""
											placeholder="Đơn vị tính..." th:field="*{donViTinh}">
									</div>

									<div class="form-group col-md-8">
										<label for="inputAddress2">Số lượng</label> 
											 <input class="form-control" type="text" th:field="*{soLuong}" placeholder="" >
									</div>

									<div class="form-group col-md-8">
										<label for="inputAddress2">Xuất xứ</label> <input type="text"
											class="form-control" id="" placeholder="Xuất xứ..."
											 th:field="*{xuatXu}">
									</div>

									<div class="form-group col-md-10">
										<label>Loại hàng</label> <select name="tenLoaiHang"
											id="tenLoaiHang" class="form-control" style="width: 30%"
											onchange="onOptionChange()">
											<option th:value="0">---Chọn loại hàng---</option>
											<th:block th:each="LoaiHang : ${listLoaiHang}">
												<option th:value="${LoaiHang.IdLoaiHang}"
													th:text="${LoaiHang.TenLoaiHang}"></option>
											</th:block>
										</select> <label>Nhóm hàng</label> <select required="required" name="tenNhomHang"
											class="form-control" style="width: 30%" id="listNhomHang">
										</select> <br /> <label>quà tặng</label>
										<div th:object="${quaTangModel}" id="listQuaTang">
											<th:block th:each="quaTang,pos : *{QuaTangItem}">
											<select th:field="*{QuaTangItem[__${pos.index}__].id}"  class="form-control"
												style="width: 20%; margin-top: 7px" >
												<option th:value="0">---Không---</option>
												<th:block th:each="QuaTang : ${listQuaTang}">
													<option th:text="${QuaTang.TenQuaTang}"
														th:value="${QuaTang.IdQuaTang}"></option>
												</th:block>
											</select> 
											</th:block>
										</div>
										<button class="btn btn-success" id="addQuaTang">Thêm
											Quà tặng</button>
										<button class="btn btn-warning" id="xoaQuaTang">Xóa</button>

									</div>
									<div class="form-group col-md-8">
										<a href="/manage-qua-tang">Quản lý quà tặng</a>
									</div>
									<div class="form-group col-md-8">
										<label>Cửa hàng</label> <select name="tenCuaHang"
											id="tenLoaiHang" class="form-control" style="width: 30%">
											<option th:value="0">Tất cả cửa hàng</option>
											<th:block th:each="CuaHang : ${listCuaHang}">
												<option th:value="${CuaHang.IdCuaHang}"
													th:text="${CuaHang.TenCuaHang}"></option>
											</th:block>
										</select>
									</div>
									<div class="form-group col-md-8">
										<label>Trạng thái</label> <select th:field="*{trangThai}"
											id="trangThai" class="form-control" style="width: 30%">
											<option th:value="1">Hàng mới</option>
											<option th:value="0">Hàng sắp về</option>
											<option th:value="2">Online giá rẻ</option>
										</select>
									</div>
									<div class="form-group col-md-8">
										<p>Hình ảnh</p>
										<input type="file" name="files" multiple
											accept="image/x-png,image/gif,image/jpeg">
									</div>
									<div class="form-group col-md-8 chiTiet">
										<div class="detail" th:object="${chiTietMatHangModel}">
										<th:block th:each="chiTiet,pos : *{chiTietMatHangItem}">
										<label>Tên chi tiết</label> <input th:field="*{chiTietMatHangItem[__${pos.index}__].tenChiTiet}" 
												class="form-control" style="width: 30%"> <label>Thông
												tin chi tiết</label> <input th:field="*{chiTietMatHangItem[__${pos.index}__].noiDungChiTiet}" 
												class="form-control" style="width: 35%"> <br />
										
										</th:block>
										
											
										</div>
									</div>
									<div class="form-group col-md-8 ">
										<button class="btn btn-success" id="addChiTiet">Thêm
											Chi tiết</button>
										<button class="btn btn-warning" id="xoaChiTiet">Xóa</button>
									</div>

									<div class="form-group col-md-8">
										<button style="margin-left: 10px" type="submit"
											class="btn btn-primary ">Sửa mặt hàng</button>
										&nbsp; <a href="/manage-mat-hang" class="btn btn-danger ">Quay
											về</a>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/jquery/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/datatables/jquery.dataTables.min.js"></script>
	<script src="/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>
	<script type="text/javascript">
		function onOptionChange() {
			var selectBox = document.getElementById("tenLoaiHang");
			var selectedValue = selectBox.options[selectBox.selectedIndex].value;
			//alert(selectedValue);
			var urlTarget = "/get-nhom-hang-by-loai-hang";
			var myJson = JSON.stringify(selectedValue);
			$.ajax({
				type : 'POST',
				contentType : "application/json",
				url : urlTarget,
				data : myJson,
				dataType : 'json',
				cache : false,
				timeout : 600000,
				success : function(data) {

					if (data != null) {
						$('#listNhomHang').empty();
						var listNhomHang = data.nhomHangModel;
						console.log(listNhomHang);
						if (listNhomHang != null) {
							if (listNhomHang.length > 0) {
								listNhomHang.forEach(function(element) {
									console.log(element)
									$('#listNhomHang').append(
											new Option(element.tenNhomHang,
													element.id));
								});
							}
						}

					}

					/* $("#listQuestion").remove() */
				},
				error : function(e) {
					console.log(e);
				}
			})
			
			/* $('#').val("1"); */
		}
		document.getElementById('tenLoaiHang').value = "1";
	</script>
	<script>
		document.getElementById("addQuaTang").addEventListener("click",
				function(event) {
					event.preventDefault();
			
					var len = $('#listQuaTang').children().length;
			
				
						var txtSelect = "<select class='form-control' style='width: 20%; margin-top: 7px' id='QuaTangItem"+len+".id' name='QuaTangItem["+len+"].id'>";
						var txtHtml = $('#listQuaTang').find("select:last").html();
						var txtFoot ="</select>";
						 $('#listQuaTang').append(txtSelect+txtHtml+txtFoot); 
					
					
					console.log(txtHtml)

				});
		document.getElementById("xoaQuaTang").addEventListener("click",
				function(event) {
					event.preventDefault();
					var len = $('#listQuaTang').children().length;
					console.log(len);
					if(len>=2){
						$('#listQuaTang').children("select:last").remove();	
					}
					

				});
	</script>
	<script type="text/javascript">
		document
				.getElementById("addChiTiet")
				.addEventListener(
						"click",
						function(event) {
							event.preventDefault();
							var name = $(".chiTiet input:last").attr('name');
							console.log(name);
						 	if (name != null) {
								var numberGet = name.match(/\d+/)[0];
								var idNumber = parseInt(numberGet)+1;
							} else {
								var idNumber = 0;
							}
							/* if (idNumber <= 10)  */
								/* var txt1 = "<input name='"+idNumber+"-ct'>"; */
								var htmlAdd = "<label>Tên chi tiết</label> <input  id='chiTietMatHangItem"+idNumber+".tenChiTiet' name='chiTietMatHangItem["+idNumber+"].tenChiTiet' class='form-control' style='width: 30%'> <label>Thông tin chi tiết</label> <input id='chiTietMatHangItem"+idNumber+".noiDungChiTiet' name='chiTietMatHangItem["+idNumber+"].noiDungChiTiet' class='form-control' style='width: 35%'> <br/> ";
			
								$(".detail").append(htmlAdd);
							

						});
		document.getElementById("xoaChiTiet").addEventListener("click",
				function(event) {
					event.preventDefault();
					/* 	console.log(); */
					$(".detail").children("input:last").remove();
					$(".detail").children("label:last").remove();
					$(".detail").children("input:last").remove();
					$(".detail").children("label:last").remove();
					$(".detail").children("br:last").remove();
				});
	</script>
	<script type="text/javascript">
	$("input[data-type='currency']").on({
	    keyup: function() {
	      formatCurrency($(this));
	    },
	    blur: function() { 
	      formatCurrency($(this), "blur");
	    }
	});


	function formatNumber(n) {
	  // format number 1000000 to 1,234,567
	  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
	}


	function formatCurrency(input, blur) {
	  // appends $ to value, validates decimal side
	  // and puts cursor back in right position.
	  
	  // get input value
	  var input_val = input.val();
	  
	  // don't validate empty input
	  if (input_val === "") { return; }
	  
	  // original length
	  var original_len = input_val.length;

	  // initial caret position 
	  var caret_pos = input.prop("selectionStart");
	    
	  // check for decimal
	  if (input_val.indexOf(".") >= 0) {

	    // get position of first decimal
	    // this prevents multiple decimals from
	    // being entered
	    var decimal_pos = input_val.indexOf(".");

	    // split number by decimal point
	    var left_side = input_val.substring(0, decimal_pos);
	    var right_side = input_val.substring(decimal_pos);

	    // add commas to left side of number
	    left_side = formatNumber(left_side);

	    // validate right side
	    right_side = formatNumber(right_side);
	    
	    // On blur make sure 2 numbers after decimal
	    if (blur === "blur") {
	      right_side += "00";
	    }
	    
	    // Limit decimal to only 2 digits
	    right_side = right_side.substring(0, 2);

	    // join number by .
	    input_val = "$" + left_side + "." + right_side;

	  } else {
	    // no decimal entered
	    // add commas to number
	    // remove all non-digits
	    input_val = formatNumber(input_val);
	    input_val = "$" + input_val;
	    
	    // final formatting
	    if (blur === "blur") {
	      input_val += ".00";
	    }
	  }
	  
	  // send updated string to input
	  input.val(input_val);

	  // put caret back in the right position
	  var updated_len = input_val.length;
	  caret_pos = updated_len - original_len + caret_pos;
	  input[0].setSelectionRange(caret_pos, caret_pos);
	}
	</script>
</body>

</html>